<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'Ewall', root_path, class: 'navbar-item' %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Transaction
        </a>

        <div class="navbar-dropdown">
          <%= link_to  "Deposit", new_transactions_deposit_path, class: "navbar-item" %>
          <a class="navbar-item">
            Withdraw
          </a>
          <a class="navbar-item">
            Trasnsfer
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            Logged in as  <strong>  <%= current_user.email %> </strong>. 
            <%= link_to 'Edit profile', edit_user_registration_path %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'button is-primary'  %>
            <%= link_to "Login", new_user_session_path, :class => 'button is-light'  %>
          <% end %>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>