<nav aria-label="main navigation" class="navbar" role="navigation">
    <div class="navbar-brand">
        <%= link_to 'Ewall', root_path, class: 'navbar-item' %>

        <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbarBasicExample">
        <div class="navbar-start">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Transaction
                </a>

                <div class="navbar-dropdown">
                    <%= link_to  "Deposit", new_transactions_deposit_path, class: "navbar-item" %>
                    <%= link_to  "Withdraw", new_transactions_withdraw_path, class: "navbar-item" %>
                    <%= link_to  "Transfer", new_transactions_transfer_path, class: "navbar-item" %>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <% if user_signed_in? %>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Logged in as <%= current_user.email %>
                            </a>
                            <div class="navbar-dropdown">
                                <%= link_to 'Edit profile', edit_user_registration_path, class: "navbar-item" %>
                                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-item" %>
                            </div>
                        </div>
                    <% else %>
                        <%= link_to "Sign up", new_user_registration_path, :class => 'button is-primary'  %>
                        <%= link_to "Login", new_user_session_path, :class => 'button is-light'  %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</nav>
